---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/astro/HeroSection.astro";
import Nav from "~/components/react/Nav.tsx";
import TickerText from "~/components/astro/TickerText.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="min-h-screen bg-background">
    <div class="bg-core min-h-screen flex flex-col">
      <Nav client:load variant="core" />

      <HeroSection />

      <TickerText />
    </div>
  </div>
  <div class="min-h-screen bg-cream-dark">test</div>
</Layout>
