---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css"
---

<div id="container">
  <div class="min-h-screen flex justify-center items-center">
    <span class="font-bold text-5xl">
    Hello world
    </span>
  </div>
</div>
